{% extends 'home/base.html' %}
{% load static %}
{% block content %}

                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Analysed Routes</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                                        <li class="breadcrumb-item active">Analyse Route By
                                            AI</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-12 col-sm-6">
                            <div class="card mb-3">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 border-end">
                                        <div class="text-start p-4 ">
                                            <div class="avatar-sm mb-3 mt-1">
                                                <span
                                                    class="avatar-title rounded bg-success bg-soft text-success font-size-14">
                                                    <i class="bx bxs-truck fa-2x"></i>
                                                </span>
                                            </div>
                                            <h5 class="pb-1">Truck Assigned</h5>
                                            <p class="text-muted mb-2 text-truncate">Truck Number :
                                                <strong>PB073477</strong>
                                            </p>
                                            <p class="text-muted mb-2 text-truncate">Truck Capacity :
                                                <strong>5000</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">
                                        <div class="p-4 text-center text-xl-start">
                                            <div class="pb-3 border-bottom ">
                                                <p class="text-muted mb-2 text-truncate">Orders</p>
                                                <div class="d-flex flex-wrap">
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12345</h5>
                                                        Logistics Delivery A
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12346</h5>
                                                        Supply Run B
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12347</h5>
                                                        Freight Shipment C
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12348</h5>
                                                        Warehouse Delivery D
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row py-4">
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Pickup Location</p>
                                                        <h5>New York</h5>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Destination Location
                                                        </p>
                                                        <h5>Chicago</h5>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 border-end">
                                        <div class="text-start p-4 ">
                                            <div class="avatar-sm mb-3 mt-1">
                                                <span
                                                    class="avatar-title rounded bg-success bg-soft text-success font-size-14">
                                                    <i class="bx bxs-truck fa-2x"></i>
                                                </span>
                                            </div>
                                            <h5 class="pb-1">Truck Assigned</h5>
                                            <p class="text-muted mb-2 text-truncate">Truck Number :
                                                <strong>PB073477</strong>
                                            </p>
                                            <p class="text-muted mb-2 text-truncate">Truck Capacity :
                                                <strong>5000</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">
                                        <div class="p-4 text-center text-xl-start">
                                            <div class="pb-3 border-bottom ">
                                                <p class="text-muted mb-2 text-truncate">Orders</p>
                                                <div class="d-flex flex-wrap">
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12345</h5>
                                                        Logistics Delivery A
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12346</h5>
                                                        Supply Run B
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12347</h5>
                                                        Freight Shipment C
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12348</h5>
                                                        Warehouse Delivery D
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row py-4">
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Pickup Location</p>
                                                        <h5>New York</h5>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Destination Location
                                                        </p>
                                                        <h5>Chicago</h5>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 border-end">
                                        <div class="text-start p-4 ">
                                            <div class="avatar-sm mb-3 mt-1">
                                                <span
                                                    class="avatar-title rounded bg-success bg-soft text-success font-size-14">
                                                    <i class="bx bxs-truck fa-2x"></i>
                                                </span>
                                            </div>
                                            <h5 class="pb-1">Truck Assigned</h5>
                                            <p class="text-muted mb-2 text-truncate">Truck Number :
                                                <strong>PB073477</strong>
                                            </p>
                                            <p class="text-muted mb-2 text-truncate">Truck Capacity :
                                                <strong>5000</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">
                                        <div class="p-4 text-center text-xl-start">
                                            <div class="pb-3 border-bottom ">
                                                <p class="text-muted mb-2 text-truncate">Orders</p>
                                                <div class="d-flex flex-wrap">
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12345</h5>
                                                        Logistics Delivery A
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12346</h5>
                                                        Supply Run B
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12347</h5>
                                                        Freight Shipment C
                                                    </div>
                                                    <div class="alert alert-info me-1 mb-1" role="alert">
                                                        <h5 class="mb-0 text-info">12348</h5>
                                                        Warehouse Delivery D
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row py-4">
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Pickup Location</p>
                                                        <h5>New York</h5>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div>
                                                        <p class="text-muted mb-2 text-truncate">Destination Location
                                                        </p>
                                                        <h5>Chicago</h5>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- container-fluid -->


                
{% endblock %}