{% extends 'home/base.html' %}
{% load static %}
{% block content %}

                
                <!-- <div class="loaderWrapper">
                    <div class="loader"></div>
                </div> -->
iroutes - - {{iroutes}}
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Analysed Routes</h4>

                                <div class="page-title-right">
                                    <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target=".view-routes-in-map">View Routes In Map
                                    </button>
                                </div>
                                <div class="modal fade view-routes-in-map" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <!-- <div class="modal-header">
                                                <h5 class="modal-title">Upload Order CSV</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div> -->
                                            <div class="modal-body">
                                                <div class="text-center mb-4">
                                                    <div class="avatar-md mx-auto mb-4">
                                                        <div class="avatar-title bg-light rounded-circle text-primary h1">
                                                            <i class="bx bx-info-circle                                                            "></i>
                                                        </div>
                                                    </div>
                
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-10">
                                                            <h4 class="text-primary">Downloading JSON file !</h4>
                                                            <p class="text-muted font-size-14 mb-4">Redirecting to Website..</p>
                
                                                            <div class="alert alert-warning" role="alert">
                                                               Please Upload This File For View results
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="text-start p-4 alert alert-primary rounded-lg">
                                <div class="avatar-sm mb-3 mt-1">
                                    <span
                                        class="avatar-title rounded bg-primary bg-soft text-primary font-size-14">
                                        <i class="bx bxs-truck fa-2x"></i>
                                    </span>
                                </div>
                                <h5 class="pb-1 text-primary font-size-18 ">Truck Assigned</h5>
                                <p class="text-primary font-size-15 mb-2 text-truncate">Truck Number :
                                    <strong>PB073477</strong>
                                </p>
                                <p class="text-primary font-size-15 mb-2 text-truncate">Truck Capacity :
                                    <strong>5000</strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-9 routeCard rounded-lg">
                            <div class="p-4 text-center text-xl-start">
                                <div class="row pb-3 border-Custom-bottom">
                                    <p class="text-white font-size-20 mb-2 text-truncate lineDesign">Main Route</p>
                                    <div class="col-6">
                                        <div>
                                            <p class="text-white font-size-15 mb-2 text-truncate yellowColor">Pickup Location</p>
                                            <h5 class="text-white font-size-14 mb-2 text-truncate">New York</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="text-white font-size-15 mb-2 text-truncate yellowColor">Destination Location
                                            </p>
                                            <h5 class="text-white font-size-14 mb-2 text-truncate">Chicago</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-3">
                                    <p class="text-white font-size-20 mb-2 text-truncate lineDesign">All Orders Location</p>
                                    <div class="d-flex flex-nowrap pt-4 w-100 overflow-auto scroll-style">
                                        <div class="routeBox me-3 mb-1">
                                            <div class="text-center">
                                                <i class="bx bx-map text-warning font-size-20"></i>
                                                <p class="text-warning">Zirakpur</p>
                                            </div>
                                            <div class="card shadow-none">
                                                <div class="card-body">
                                                    <div class="text-white text-letter-space">
                                                        <p><span class="yellowColor">Order No</span> <br>12345</p>
                                                        <p><span class="yellowColor">Order Name</span> <br>Logistics Delivery A</p>
                                                        <p><span class="yellowColor">Customer Email</span> <br>customer212@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="routeBox me-3 mb-1">
                                            <div class="text-center">
                                                <i class="bx bx-map text-warning font-size-20"></i>
                                                <p class="text-warning">Zirakpur</p>
                                            </div>
                                            <div class="card shadow-none">
                                                <div class="card-body">
                                                    <div class="text-white text-letter-space">
                                                        <p><span class="yellowColor">Order No</span> <br>12345</p>
                                                        <p><span class="yellowColor">Order Name</span> <br>Logistics Delivery A</p>
                                                        <p><span class="yellowColor">Customer Email</span> <br>customer212@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="routeBox me-3 mb-1">
                                            <div class="text-center">
                                                <i class="bx bx-map text-warning font-size-20"></i>
                                                <p class="text-warning">Zirakpur</p>
                                            </div>
                                            <div class="card shadow-none">
                                                <div class="card-body">
                                                    <div class="text-white text-letter-space">
                                                        <p><span class="yellowColor">Order No</span> <br>12345</p>
                                                        <p><span class="yellowColor">Order Name</span> <br>Logistics Delivery A</p>
                                                        <p><span class="yellowColor">Customer Email</span> <br>customer212@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="routeBox me-3 mb-1">
                                            <div class="text-center">
                                                <i class="bx bx-map text-warning font-size-20"></i>
                                                <p class="text-warning">Zirakpur</p>
                                            </div>
                                            <div class="card shadow-none">
                                                <div class="card-body">
                                                    <div class="text-white text-letter-space">
                                                        <p><span class="yellowColor">Order No</span> <br>12345</p>
                                                        <p><span class="yellowColor">Order Name</span> <br>Logistics Delivery A</p>
                                                        <p><span class="yellowColor">Customer Email</span> <br>customer212@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- container-fluid -->


                
{% endblock %}