
    {% extends 'home/base.html' %}
    {% load static %}
    {% block content %}

    <div class="container-fluid">
        
            <!-- start page title -->
            {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% if inprocess %}
            <div>
                <div class="alert alert-warning">Orders and reports processing is in progress, please wait. <b id="inprocessstats">{{ inprocess }}% done</b></div>
            </div>
            <script>
                function updateinprocess(){
                    $.ajax({
                        type: "POST",
                        url: "{%url 'fetchinprocess' %}",
                        data: { csrfmiddlewaretoken: '{{csrf_token}}' },
                        success: function (response) {
                            if (response.status == 'pending'){
                                $('#inprocessstats').html(`${response.inprocess}% done`)
                                //setTimeout(updateinprocess(), 3000);
                            }else{
                                $('#inprocessstats').html('ALL Done.')
                                setTimeout(window.location.reload(), 2500);
                            }
                        },
                    });
                }
                function reloadit(){ window.location.reload() }
                setInterval(updateinprocess, 3000)
                
            </script>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Orders</h4>
                        

                        

                        <div class="page-title-right">
                            <div class="button-items">
                                {% if not inprocess %}
                                <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Upload
                                </button>
                                {%endif%}


                               
                                {%if orders%}
                                <a href="" class="btn btn-secondary btn-md waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#selectOrdersModal" >Analyse Route By AI</a>
                                <div class="modal fade" id="selectOrdersModal" tabindex="-1" aria-labelledby="deleteAllOrdersModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form action="{%url 'getroute' %}" method="POST" onsubmit="document.querySelector('.loaderWrapper').classList.remove('d-none');">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteAllOrdersModalLabel">Select Order</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {%csrf_token%}
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Select Warehouse</label>
                                                            <select class="select2 form-control select2-multiple"
                                                            multiple="multiple"  id="warehouselist" name="warehouselist" onchange="updateorderlist()" required>
                                                                {%for i in warehouses%}
                                                                <option value="{{i.id}}">{{i.name}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label class="form-label d-flex align-items-center">Select Orders
                                                            <button type="button" class="btn btn-sm btn-secondary mb-0" onclick="selectallorders()">Select all</button>

                                                            </label>
                                                            <select class="select2 form-control select2-multiple"
                                                            multiple="multiple" id="orderslist" name="orderslist" onchange="showorders()" required>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-2">
                                                        <div class="text-success" style="display:none" id="showorders"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger">Select orders</button>
                                            </div>
                                        </form>
                                    </div>
                                    </div>
                                  </div>
                                  <script>
                                    function updateorderlist(){
                                        $.ajax({
                                            type: "POST",
                                            url: "{%url 'fetchorders' %}",
                                            data: { csrfmiddlewaretoken: '{{csrf_token}}', wids: $('#warehouselist').val() },
                                            success: function (response) {
                                                $('#orderslist').empty()
                                                orders = []
                                                response.orders.forEach(function(option) {
                                                    var optgroup = $('<optgroup>', { label: option[0] });
                                                    option[1].forEach(function(option) { optgroup.append(new Option(option.text, option.value)); });
                                                    $('#orderslist').append(optgroup);
                                                    showorders()
                                                });
                                            },
                                        });
                                    }

                                    function showorders(){
                                        if ($('#orderslist').val().length) {
                                            $('#showorders').html( `Selected Orders: ${String($('#orderslist').val()).replace(/,/g, ', ')}` ).show()
                                        }
                                        else {$('#showorders').html(``).hide()}
                                    }

                                    function selectallorders(){
                                        $('#orderslist option').prop('selected', true);
                                        $('#orderslist').trigger('change');
                                        showorders()
                                    }
                                </script>
                                




                              <!-- Delete All Orders Button -->
                              <button type="button" class="btn btn-danger btn-md waves-effect waves-light"
                              data-bs-toggle="modal" data-bs-target="#deleteAllOrdersModal">
                              <i class="fas fa-trash" style="color: white;"></i> Delete All Orders
                              </button>

                              <!-- Confirmation Modal -->
                              <div class="modal fade" id="deleteAllOrdersModal" tabindex="-1" aria-labelledby="deleteAllOrdersModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAllOrdersModalLabel">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete all orders? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'delete_all_orders' %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete All Orders</button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                              </div>

                                {%endif%}
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Upload Order CSV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <form action="{% url 'upload_orders' %}" method="post" enctype="multipart/form-data" class="dropzone" id="myDropzone">
                                    {% csrf_token %}
                                    <div class="fallback">
                                        <input name="file" type="file" accept="csv" required onchange="setTimeout(reloadit, 10000);">
                                    </div>
                                    <div class="dz-message needsclick">
                                        <div class="mb-3"><i class="display-4 text-muted bx bxs-cloud-upload"></i></div>
                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                    <div class="d-flex justify-center">
                                        <button type="submit" class="btn btn-primary mx-auto">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>







            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th>Order id</th>
                                        <th>Order</th>
                                        <th>Customer</th>
                                        <th>Qty</th>
                                        <th>Assinged Truck</th>
                                        <th>Warehouse</th>
                                        <th>Destination</th>
                                        <th>Delivery Timings</th>
                                        <th>Status</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in orders %}
                                    <tr>
                                        <td>#13A{{i.id}}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.cname|title}}<br>({{i.email}})</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{%if i.assigned_truck%}{{i.assigned_truck.truck_name}}{%else%}Not assigned   yet{%endif%}</td>
                                        <td>{{i.warehouse.name}}</td>
                                        <td>{{i.destination}}</td>
                                        <td>{{i.opening_time}} - {{i.closing_time}}</td>
                                        <td >{{i.order_status}}</td>
                                        <td>
                                            <span class="badge badge-pill font-size-11 text-capitalize 
                                                {% if i.payment_status == 'pending' %}badge-soft-warning{% elif i.payment_status == 'due' %}badge-soft-info{% else %}badge-soft-success{% endif %}">
                                                {{ i.payment_status }}
                                            </span>
                                        </td>
                                        <td>
                                            <!-- <button type="button"
                                                class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                                View Details
                                            </button> -->
                                            <a href="{% url 'single_order' i.id %}" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                                View
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   
                                  
                                   
                                 
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

             
{% if report_orders%}
            <div class="modal-header">
                <h5 class="modal-title">Break Down Orders</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th>Order id</th>
                                        <th>Order</th>
                                        <th>Customer</th>
                                        <th>Qty</th>
                                        <th>Assinged Truck</th>
                                        <th>Destination</th>
                                        <th>Status</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in report_orders %}
                                    <tr>
                                        <td>#13A{{i.id}}</td>
                                        <td>{{i.product_name}}</td>
                                        <td>{{i.cname|title}}<br>({{i.email}})</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{%if i.assigned_truck%}{{i.assigned_truck.truck_name}}{%else%}Not assigned   yet{%endif%}</td>
                                        <td>{{i.destination}}</td>
                                        <td >{{i.order_status}}</td>
                                        <td>
                                            <span class="badge badge-pill font-size-11 text-capitalize 
                                                {% if i.payment_status == 'pending' %}badge-soft-warning{% elif i.payment_status == 'due' %}badge-soft-info{% else %}badge-soft-success{% endif %}">
                                                {{ i.payment_status }}
                                            </span>
                                        </td>
                                        <td>
                                            <!-- <button type="button"
                                                class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                                View Details
                                            </button> -->
                                            <a href="{% url 'single_order' i.id %}" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                                View
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   
                                  
                                   
                                 
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            {% endif %}


    </div> <!-- container-fluid -->
    <script>

        


Dropzone.options.myDropzone = {
  maxFiles: 1, // Allow only one file to be uploaded
  init: function() {
    this.on("maxfilesexceeded", function(file) {
      this.removeAllFiles(); // Optional: Remove the previous file when a new one is added
      this.addFile(file); // Add the new file
    });
  }
};
    </script>

{% endblock %}