{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
            {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">All Vehicle</h4>

                <div class="page-title-right">
                    <div class="button-items">
                        <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                            data-bs-toggle="modal" data-bs-target=".add-vehicleModal">Add Vehicle
                        </button>
                        <a href="{%url 'reset_assinged_trucks'%}" class="btn btn-danger btn-md waves-effect waves-light"> <i class="fas fa-redo-alt" style="color: white;"></i> Reset assigned orders & trucks availability</a>
                        <div class="modal fade add-vehicleModal" tabindex="-1" role="dialog" aria-labelledby="add-vehicleModalLabel"
                aria-hidden="true">

                        {% comment %} <form action="{% url 'vehicles' %}" method="post" enctype="multipart/form-data"
                            class="d-flex align-items-end">
                            {% csrf_token %}

                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add-vehicleModalLabel">Add New Vehicle</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <!-- Vehicle Type -->
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_name" class="form-label">Vehicle Name</label>
                                                <input type="text" required class="form-control" name="truck_name" id="truck_name" placeholder="Enter vehicle's name" pattern="[A-Za-z0-9\s]+" title="Please use alphanumeric characters only">
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label for="truck_number" class="form-label">Vehicle Number</label>
                                                <input type="text" required maxlength="10" name="truck_number" class="form-control" id="truck_number"
                                                       placeholder="Enter vehicle's registration number" pattern="[A-Za-z0-9]+" title="Please use alphanumeric characters only">
                                            </div>
                                            
                                           
                                            <!-- Capacity (Weight) -->
                                           
                                        </div>

                                        <div class="row">


                                            <div class="col-md-6 mb-3">
                                                <label for="driver_name" class="form-label">Driver Name</label>
                                                <input type="text" required  name="driver_name" class="form-control" id="driver_name"
                                                    placeholder="Enter driver's name">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="driver_email" class="form-label">Driver Email</label>
                                                <input type="text" required  name="driver_email" class="form-control" id="driver_name"
                                                    placeholder="Enter driver's name">
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label for="contact_number" class="form-label">Driver's Contact Number</label>
                                                <input name="contact_number" maxlength="10"  required type="text" class="form-control" id="contact_number"
                                                    placeholder="Enter driver's contact number">
                                            </div>






                                            
                                            
                                            <div class="col-md-6 mb-3">
                                                <label for="capacity_volume" class="form-label">Capacity (Volume)</label>
                                                <input type="number" required name="capacity_volume" class="form-control" id="capacity_volume"
                                                       placeholder="Enter volume in cubic meters or feet" min="0" max="9999" maxlength="4" title="Please enter a valid number">
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <!-- Contact Number -->
                                           
                                            <!-- Vehicle Status -->
                                            <div class="col-md-6 mb-3">
                                                <label for="cost_per_km" class="form-label">Cost</label>
                                                <input name="cost_per_km" maxlength="6"  required type="text" class="form-control" name="cost_per_km" id="cost_per_km"
                                                    placeholder="Enter cost">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Vehicle</button>
                                    </div>
                                </div>
                            </div>

                        </form> {% endcomment %}


                        <form action="{% url 'vehicles' %}" method="post" enctype="multipart/form-data" class="d-flex align-items-end">
                            {% csrf_token %}
                        
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add-vehicleModalLabel">Add New Vehicle</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <!-- Vehicle Type -->
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_name" class="form-label">Vehicle Name</label>
                                                <input type="text" required class="form-control" name="truck_name" id="truck_name" placeholder="Enter vehicle's name" pattern="[A-Za-z0-9\s]+" title="Please use alphanumeric characters only">
                                            </div>
                        
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_number" class="form-label">Vehicle Number</label>
                                                <input type="text" required maxlength="10" name="truck_number" class="form-control" id="truck_number" placeholder="Enter vehicle's registration number" pattern="[A-Za-z0-9]+" title="Please use alphanumeric characters only">
                                            </div>
                        
                                            <!-- Truck Type -->
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_type" class="form-label">Truck Type</label>
                                                <select class="form-select" name="truck_type" id="truck_type">
                                                    <option value="Flatbed">Flatbed</option>
                                                    <option value="Box">Box</option>
                                                    <option value="Tanker" selected>Tanker</option>
                                                    <option value="Refrigerated">Refrigerated</option>
                                                    <option value="Car Carrier">Car Carrier</option>
                                                </select>
                                            </div>
                        
                                            <!-- Truck Image -->
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_image" class="form-label">Truck Image</label>
                                                <input type="file" name="truck_image" class="form-control" id="truck_image">
                                            </div>
                        
                                            <!-- Make -->
                                            <div class="col-md-6 mb-3">
                                                <label for="make" class="form-label">Brand/Manufacturer</label>
                                                <input type="text" name="make" class="form-control" id="make" placeholder="Enter make (e.g., Toyota)">
                                            </div>
                        
                                            <!-- Model -->
                                            <div class="col-md-6 mb-3">
                                                <label for="model" class="form-label">Model Name</label>
                                                <input type="text" name="model" class="form-control" id="model" placeholder="Enter model (e.g., Hilux)">
                                            </div>
                        
                                            <!-- Year -->
                                            <div class="col-md-6 mb-3">
                                                <label for="year" class="form-label">Year of Manufacture</label>
                                                <input type="number" name="year" class="form-control" id="year" placeholder="Enter year" min="1900" max="2100" maxlength="4" oninput="validateYear(this)">
                                            </div>
                                            <script>
                                                function validateYear(input) {
                                                    // Ensure only 4 digits can be entered
                                                    if (input.value.length > 4) {
                                                        input.value = input.value.slice(0, 4);
                                                    }
                                                }
                                                </script>
                                                
                                            
                        
                                            <!-- Mileage -->
                                            <div class="col-md-6 mb-3">
                                                <label for="mileage" class="form-label">Mileage (in km)</label>
                                                <input type="number" name="mileage" class="form-control" id="mileage" placeholder="Enter mileage (in km)" min="0">
                                            </div>
                        
                                            <!-- License Type -->
                                            <div class="col-md-6 mb-3">
                                                <label for="license_type" class="form-label">Required License Type</label>
                                                <select class="form-select" name="license_type" id="license_type">
                                                    <option value="C">Class C - Light Truck</option>
                                                    <option value="B" selected>Class B - Medium Truck</option>
                                                    <option value="A">Class A - Heavy Truck</option>
                                                </select>
                                            </div>
                        
                                            <!-- Purchase Date -->
                                            <div class="col-md-6 mb-3">
                                                <label for="purchase_date" class="form-label">Purchase Date</label>
                                                <input type="date" name="purchase_date" class="form-control" id="purchase_date">
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <!-- Driver Information -->
                                            <div class="col-md-6 mb-3">
                                                <label for="driver_name" class="form-label">Driver Name</label>
                                                <input type="text" required name="driver_name" class="form-control" id="driver_name" placeholder="Enter driver's name">
                                            </div>
                        
                                            <div class="col-md-6 mb-3">
                                                <label for="driver_email" class="form-label">Driver Email</label>
                                                <input type="email" required name="driver_email" class="form-control" id="driver_email" placeholder="Enter driver's email">
                                            </div>
                        
                                            <div class="col-md-6 mb-3">
                                                <label for="contact_number" class="form-label">Driver's Contact Number</label>
                                                <input name="contact_number" maxlength="10" required type="text" class="form-control" id="contact_number" placeholder="Enter driver's contact number">
                                            </div>
                        
                                            <!-- Capacity (Volume) -->
                                            <div class="col-md-6 mb-3">
                                                <label for="capacity_volume" class="form-label">Capacity (Volume)</label>
                                                <input type="number" required name="capacity_volume" class="form-control" id="capacity_volume" placeholder="Enter volume in cubic meters or feet" min="0" max="9999">
                                            </div>
                        
                                            <!-- Cost -->
                                            <div class="col-md-6 mb-3">
                                                <label for="cost_per_km" class="form-label">Cost</label>
                                                <input name="cost_per_km" maxlength="6" required type="text" class="form-control" id="cost_per_km" placeholder="Enter cost">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Vehicle</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h4 class="card-title">All Vehicle</h4>
                                            <button type="button"
                                                                class="btn btn-primary btn-md  waves-effect waves-light"
                                                                data-bs-toggle="modal"
                                                                data-bs-target=".add-vehicleModal">
                                                                Add Vehicle
                                                            </button>
                                        </div> -->
                    <div class="table-responsive">
                        <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">ID</th>
                                    <th class="align-middle">Vehicle Name</th>
                                    <th class="align-middle">Driver Name</th>
                                    <th class="align-middle">Driver Email</th>
                                    <th class="align-middle">Vehicle Number</th>
                                    <th class="align-middle">Warehouse</th>
                                    <th class="align-middle">Capacity</th>
                                    <th class="align-middle">Cost</th>
                                    <th class="align-middle">Availability</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in vehicles %}
                                <tr>
                                    <td>{{i.id}} </td>
                                    <td>{{i.truck_name}} </td>
                                    <td>{{i.driver_name}}</td>
                                    <td>{{i.driver_email}}</td>
                                    <td>{{i.truck_number}}</td>
                                    <td>{{i.warehouse.name}}</td>


                                    <td>{{i.capacity}}</td>
                                    <td>${{i.cost_per_km}}</td>
                                   
                                    <td>
                                        <span class="badge badge-pill badge-soft-{%if i.available%}success{%else%}danger{%endif%} font-size-11 text-capitalize">{%if i.available%}Yes{%else%}No{%endif%}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex">



                                            <a href="{%url 'admin_single_vehicle' i.id%}" class="btn btn-secondary btn-sm btn-rounded mr-1">View</a>
                                            <button type="button" class="btn btn-secondary btn-sm btn-rounded  mr-1"  data-bs-toggle="modal" data-bs-target=".add-EditvehicleModal{{i.id}}">Edit</button>

                                            <button type="button" class="btn btn-primary btn-sm btn-rounded mr-1" data-bs-toggle="modal" data-bs-target="#addServiceModal{{i.id}}">
                                                Add Service
                                            </button>

                                            <form action="{% url 'delete_vehicle' i.id %}" method="post" enctype="multipart/form-data"
                                            class="d-flex align-items-end">
                                            {% csrf_token %}
                                            <input type="hidden" name="truck_id" value="{{i.id}}">
                                            <button  type="submit" class="btn btn-danger btn-sm btn-rounded" >Delete</button>
                                            </form>




                                            <!-- Modal for Adding Service -->
                                            <div class="modal fade" id="addServiceModal{{i.id}}" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">


                                                        {% comment %}  {% endcomment %}


                                                        <form action="{% url 'add_service' i.id %}"  method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addServiceModalLabel">Add Service for Truck</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="service_date" class="form-label">Service Date</label>
                                                                    <input type="date" name="service_date" class="form-control" id="service_date" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="service_description" class="form-label">Service Description</label>
                                                                    <textarea name="service_description" class="form-control" id="service_description" rows="3" required></textarea>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="parts_changed" class="form-label">Parts Changed</label>
                                                                    <textarea name="parts_changed" class="form-control" id="parts_changed" rows="3" required></textarea>
                                                                </div>
                                                               

                                                                <div class="mb-3">
                                                                    <label for="warranty_period{{i.id}}"  class="form-label"> Warranty years</label>
                                                                    <input value="2" type="number" step="0.01" name="warranty_period" class="form-control" id="warranty_period{{i.id}}" required>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="cost" class="form-label">Total Service Cost (in USD)</label>
                                                                    <input type="number" step="0.01" name="cost" class="form-control" id="cost" required>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save Service</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </td>
                                    
                                </tr>


                            
                                <div class="modal fade add-EditvehicleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="add-vehicleModalLabel"
                                        aria-hidden="true">

                                        <form action="{% url 'edit_vehicle' i.id %}" method="post" enctype="multipart/form-data" class="d-flex align-items-end">
                                            {% csrf_token %}
                                            <input type="hidden" name="truck_id" value="{{i.id}}">

                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="add-vehicleModalLabel">Edit Vehicle</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <!-- Vehicle Name -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_name" class="form-label">Vehicle Name</label>
                                                                <input type="text" required class="form-control" name="truck_name" value="{{i.truck_name}}" id="truck_name" placeholder="Enter vehicle's name" pattern="[A-Za-z0-9\s]+" title="Please use alphanumeric characters only">
                                                            </div>

                                                            <!-- Vehicle Number -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_number" class="form-label">Vehicle Number</label>
                                                                <input type="text" required maxlength="10" name="truck_number" value="{{i.truck_number}}" class="form-control" id="truck_number" placeholder="Enter vehicle's registration number" pattern="[A-Za-z0-9]+" title="Please use alphanumeric characters only">
                                                            </div>

                                                            <!-- Truck Type -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_type{{i.id}}" class="form-label">Truck Type</label>
                                                                <select class="form-select" name="truck_type" id="truck_type{{i.id}}">
                                                                    <option value="Flatbed" {% if i.truck_type == "Flatbed" %}selected{% endif %}>Flatbed</option>
                                                                    <option value="Box" {% if i.truck_type == "Box" %}selected{% endif %}>Box</option>
                                                                    <option value="Tanker" {% if i.truck_type == "Tanker" %}selected{% endif %}>Tanker</option>
                                                                    <option value="Refrigerated" {% if i.truck_type == "Refrigerated" %}selected{% endif %}>Refrigerated</option>
                                                                    <option value="Car Carrier" {% if i.truck_type == "Car Carrier" %}selected{% endif %}>Car Carrier</option>
                                                                </select>
                                                            </div>

                                                            <!-- Truck Image -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_image" class="form-label">Truck Image</label>
                                                                <input type="file" {% if i.truck_image %} value="{{i.truck_image.url}}" {% endif%} name="truck_image" class="form-control" id="truck_image">
                                                            </div>

                                                            <!-- Brand/Manufacturer -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="make" class="form-label">Brand/Manufacturer</label>
                                                                <input type="text" name="make" class="form-control" value="{{i.make}}" id="make" placeholder="Enter make (e.g., Toyota)">
                                                            </div>

                                                            <!-- Model Name -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="model" class="form-label">Model Name</label>
                                                                <input type="text" name="model" class="form-control" value="{{i.model}}" id="model" placeholder="Enter model (e.g., Hilux)">
                                                            </div>

                                                            <!-- Year of Manufacture -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="year" class="form-label">Year of Manufacture</label>
                                                                <input type="number" name="year" class="form-control" value="{{i.year}}" id="year" placeholder="Enter year" min="1900" max="2100">
                                                            </div>

                                                            <!-- Mileage -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="mileage" class="form-label">Mileage (in km)</label>
                                                                <input type="number" name="mileage" class="form-control" value="{{i.mileage}}" id="mileage" placeholder="Enter mileage (in km)" min="0">
                                                            </div>

                                                            <!-- Required License Type -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="license_type{{i.id}}" class="form-label">Required License Type</label>
                                                                <select class="form-select" name="license_type" id="license_type{{i.id}}">
                                                                    <option value="C" {% if i.license_type == "C" %}selected{% endif %}>Class C - Light Truck</option>
                                                                    <option value="B" {% if i.license_type == "B" %}selected{% endif %}>Class B - Medium Truck</option>
                                                                    <option value="A" {% if i.license_type == "A" %}selected{% endif %}>Class A - Heavy Truck</option>
                                                                </select>
                                                            </div>

                                                            <!-- Purchase Date -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="purchase_date" class="form-label">Purchase Date</label>
                                                                <input type="date" name="purchase_date" class="form-control" value="{{ i.purchase_date|date:'Y-m-d' }}" id="purchase_date">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <!-- Driver Name -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="driver_name" class="form-label">Driver Name</label>
                                                                <input type="text" value="{{i.driver_name}}" required name="driver_name" class="form-control" id="driver_name" placeholder="Enter driver's name">
                                                            </div>

                                                            <!-- Driver Email -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="driver_email" class="form-label">Driver Email</label>
                                                                <input type="email" value="{{i.driver_email}}" required name="driver_email" class="form-control" id="driver_email" placeholder="Enter driver's email">
                                                            </div>

                                                            <!-- Driver's Contact Number -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="contact_number" class="form-label">Driver's Contact Number</label>
                                                                <input value="{{i.contact_number}}" name="contact_number" maxlength="10" required type="text" class="form-control" id="contact_number" placeholder="Enter driver's contact number">
                                                            </div>

                                                            <!-- Capacity (Volume) -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="capacity_volume" class="form-label">Capacity (Volume)</label>
                                                                <input type="number" value="{{i.capacity}}" required name="capacity_volume" class="form-control" id="capacity_volume" placeholder="Enter volume in cubic meters or feet" min="0" max="9999">
                                                            </div>

                                                            <!-- Cost -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="cost_per_km" class="form-label">Cost</label>
                                                                <input value="{{i.cost_per_km}}" name="cost_per_km" maxlength="6" required type="text" class="form-control" id="cost_per_km" placeholder="Enter cost">
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="status{{i.id}}" class="form-label">Vehicle Status</label>

                                                                <select class="form-select" name="status" id="status{{i.id}}">
                                                                    <option value="available" {% if i.status == "available" %}selected{% endif %}>Available</option>

                                                                    <option value="not_available" {% if i.status == "not_available" %}selected{% endif %}>Not Available</option>
                                                                    <option value="in_service" {% if i.status == "in_service" %}selected{% endif %}>In Service</option>
                                                                    <option value="maintenance" {% if i.status == "maintenance" %}selected{% endif %}>Under Maintenance</option>
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save Vehicle</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                {% endfor %}

                                
                               
                               
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>


{% endblock %}