{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">All Vehicle</h4>

                <div class="page-title-right">
                    <div class="button-items">
                        <button type="button" class="btn btn-primary btn-md waves-effect waves-light"
                            data-bs-toggle="modal" data-bs-target=".add-vehicleModal">Add Vehicle
                        </button>
                        <div class="modal fade add-vehicleModal" tabindex="-1" role="dialog" aria-labelledby="add-vehicleModalLabel"
                aria-hidden="true">

                        <form action="{% url 'vehicles' %}" method="post" enctype="multipart/form-data"
                            class="d-flex align-items-end">
                            {% csrf_token %}

                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="add-vehicleModalLabel">Add New Vehicle</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <!-- Vehicle Type -->
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_name" class="form-label">Vehicle Name</label>
                                                <input type="text" required class="form-control" name="truck_name" id="truck_name" placeholder="Enter vehicle's name" pattern="[A-Za-z0-9\s]+" title="Please use alphanumeric characters only">
                                            </div>
                                            
                                           
                                            <!-- Capacity (Weight) -->
                                            <div class="col-md-6 mb-3">
                                                <label for="driver_name" class="form-label">Driver Name</label>
                                                <input type="text" required  name="driver_name" class="form-control" id="driver_name"
                                                    placeholder="Enter driver's name">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="truck_number" class="form-label">Vehicle Number</label>
                                                <input type="text" required maxlength="10" name="truck_number" class="form-control" id="truck_number"
                                                       placeholder="Enter vehicle's registration number" pattern="[A-Za-z0-9]+" title="Please use alphanumeric characters only">
                                            </div>
                                            
                                            <div class="col-md-6 mb-3">
                                                <label for="capacity_volume" class="form-label">Capacity (Volume)</label>
                                                <input type="number" required name="capacity_volume" class="form-control" id="capacity_volume"
                                                       placeholder="Enter volume in cubic meters or feet" min="0" max="9999" maxlength="4" title="Please enter a valid number">
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <!-- Contact Number -->
                                            <div class="col-md-6 mb-3">
                                                <label for="contact_number" class="form-label">Driver's Contact Number</label>
                                                <input name="contact_number" maxlength="10"  required type="text" class="form-control" id="contact_number"
                                                    placeholder="Enter driver's contact number">
                                            </div>
                                            <!-- Vehicle Status -->
                                            <div class="col-md-6 mb-3">
                                                <label for="cost_per_km" class="form-label">Cost</label>
                                                <input name="cost_per_km" maxlength="6"  required type="text" class="form-control" name="cost_per_km" id="cost_per_km"
                                                    placeholder="Enter cost">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Vehicle</button>
                                    </div>
                                </div>
                            </div>

                        </form>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h4 class="card-title">All Vehicle</h4>
                                            <button type="button"
                                                                class="btn btn-primary btn-md  waves-effect waves-light"
                                                                data-bs-toggle="modal"
                                                                data-bs-target=".add-vehicleModal">
                                                                Add Vehicle
                                                            </button>
                                        </div> -->
                    <div class="table-responsive">
                        <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                            <thead class="table-light">
                                <tr>

                                    <th class="align-middle">Vehicle Name</th>
                                    <th class="align-middle">Driver Name</th>
                                    <th class="align-middle">Vehicle Numver</th>

                                    <th class="align-middle">Capacity</th>


                                    <th class="align-middle">
                                        Cost</th>


                                    <th class="align-middle">Availbility</th>
                                   
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in vehicles %}
                                <tr>

                                   

                                    <td>{{i.truck_name}} </td>

                                    <td>{{i.driver_name}}</td>
                                    <td>{{i.truck_number}}</td>


                                    <td>{{i.capacity}}</td>
                                    <td>${{i.cost_per_km}}</td>
                                   
                                    <td>
                                        <span class="badge badge-pill badge-soft-success font-size-11 text-capitalize">{{i.available}}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-secondary btn-sm btn-rounded  mr-1"  data-bs-toggle="modal" data-bs-target=".add-EditvehicleModal">
                                                Edit
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm btn-rounded" >
                                                Delete
                                            </button>
                                        </div>
                                    </td>
                                    
                                </tr>
                                {% endfor %}

                                <div class="modal fade add-EditvehicleModal" tabindex="-1" role="dialog" aria-labelledby="add-vehicleModalLabel"
                                aria-hidden="true">
                
                                        <form action="{% url 'vehicles' %}" method="post" enctype="multipart/form-data"
                                            class="d-flex align-items-end">
                                            {% csrf_token %}
                
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="add-vehicleModalLabel">Edit Vehicle</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <!-- Vehicle Type -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_name" class="form-label">Vehicle Name</label>
                                                                <input type="text" required class="form-control" name="truck_name" id="truck_name" placeholder="Enter vehicle's name" pattern="[A-Za-z0-9\s]+" title="Please use alphanumeric characters only">
                                                            </div>
                                                            
                                                           
                                                            <!-- Capacity (Weight) -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="driver_name" class="form-label">Driver Name</label>
                                                                <input type="text" required  name="driver_name" class="form-control" id="driver_name"
                                                                    placeholder="Enter driver's name">
                                                            </div>
                                                        </div>
                
                                                        <div class="row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="truck_number" class="form-label">Vehicle Number</label>
                                                                <input type="text" required maxlength="10" name="truck_number" class="form-control" id="truck_number"
                                                                       placeholder="Enter vehicle's registration number" pattern="[A-Za-z0-9]+" title="Please use alphanumeric characters only">
                                                            </div>
                                                            
                                                            <div class="col-md-6 mb-3">
                                                                <label for="capacity_volume" class="form-label">Capacity (Volume)</label>
                                                                <input type="number" required name="capacity_volume" class="form-control" id="capacity_volume"
                                                                       placeholder="Enter volume in cubic meters or feet" min="0" max="9999" maxlength="4" title="Please enter a valid number">
                                                            </div>
                                                            
                                                        </div>
                
                                                        <div class="row">
                                                            <!-- Contact Number -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="contact_number" class="form-label">Driver's Contact Number</label>
                                                                <input name="contact_number" maxlength="10"  required type="text" class="form-control" id="contact_number"
                                                                    placeholder="Enter driver's contact number">
                                                            </div>
                                                            <!-- Vehicle Status -->
                                                            <div class="col-md-6 mb-3">
                                                                <label for="cost_per_km" class="form-label">Cost</label>
                                                                <input name="cost_per_km" maxlength="6"  required type="text" class="form-control" name="cost_per_km" id="cost_per_km"
                                                                    placeholder="Enter cost">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save Vehicle</button>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </form>
                
                
                
                                        </div>
                               
                               
                               
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>


{% endblock %}