
.dz-error-message {
    display : none !important;
}
.verti-timeline .event-list {
    padding: 5px 0 35px 40px;
    margin-bottom: 20px;
}
.verti-timeline .event-list .event-timeline-dot {
    left: -18px;
}
.verti-timeline {
    border-left: 3px dashed #dae3f3;
    margin: 0px 20px;
}
.removeheader .topnav {
    display: none;
}
.withoutheader .page-content {
    padding: calc(10px + 24px) calc(24px / 2) 60px calc(24px / 2) !important;
}

.roundDesign{
    margin: auto;
    width: 70px;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}